.section-back {
	height: 525px;
}

.link:hover {
	text-decoration: underline;
}

.banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	height: 100%;
}

/* boas vindas */
#boas-vindas-banner {
	background-image: url("../../imgs/img/banner.webp") !important;
}

h1 {
	text-color: black;
	text-align: center;
	font-weight: bold;
	text-align: center;
}

h3, h2, h4, h5, h1 {
	font-weight: bold;
}

h1>p {
	font-size: 25px;
}

/* fim boas-vindas */

/* cardapio */
#secao-cardapio {
	background-color: #FFBD59;
	max-height: max-content;
}

/* fim cardapio */
.col-4 {
	width: 20% !important;
}

#secao-servico {
	background-color: rgba(217, 180, 72, 0.3);
	max-height: max-content;
}

/* sobre */
#sobre-banner {
	background-image: url("../../imgs/img/sobre.webp");
}

#btn-sobre {
	width: 20em;
	height: 3em;
}

/* fim sobre */
.card{
	width: 20%;
}

.card-body {
	background-color: white;
	
}

video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1000;

}

}

